<h1>About Lulo</h1>

<p>Lulo is a community farming website serving Atlanta, Georgia. We are dedicated to connecting community members to their local network of urban farmers and markets. We also strive to educate community members in how to grow their own food. Currently almost 8000 residents of Atlanta do not have access to fresh fruits and vegetables. Our end goal is to help people in any area of the city connect to local produce.</p>

<p>We named our project after the lulo (or naranjilla), a South American relative of the tomato. It is well loved by the people of the region and enjoyed in many different ways. This connection between the plant and the people is symbolic of the connections we want to help forge between community gardens and the people of Atlanta. Not to mention, it's such a cute word.</p>

<p>Lulo is the result of Random Hacks of Kindness Atlanta (RHoK Atl) hackathon. Our team worked on the problem of food deserts in Atlanta. A food desert is defined as an area where residents have less access to fresh produce and easy access to fast or processed food. We felt that the best way to tackle the problem using web technology was to create a network to connect Atlanta residents to local farms and help them to grow food for themselves. Our dream is to see this network expand to other cities affected by food deserts and other scarcity problems.</p>
