@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";

@contentColor: white;

#main {
    padding-top: 20px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.jumbotron {
    background: @contentColor;
    text-align: center;
}