@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";


@contentColor: white;
@backgroundColor: #E3E3E3;

@softGreen: #ACC7AC;
@mediumGreen: #E4F3E4;
@hardGreen: #086D08;


/* Site wide styles */
body {
    background-color: @backgroundColor;
}

footer {
    text-align: center;
}

h1 {
    letter-spacing: 1px;
    font-weight: 100;
}

#main {
    background-color: @contentColor;
    padding: 20px;
}

.content {
    padding-top: 20px;
    min-height: 700px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 810px;
}

.jumbotron {
    background: @contentColor;
    padding-top: 30px;
    text-align: center;
}

a.create-tab {
    border: 1px solid @softGreen;
    background: @mediumGreen;
    border-radius: 5px;
    color: green;
    font-size: 18px;
    font-weight: 200;
    height: 40px;
    margin-bottom: 20px;
    margin-left: -5px;
    padding: 5px 0 5px 5px;
    text-decoration: none;
}

a.create-tab img {
    height: 40px;
}

dl{
    width: 400px;
}

.bodytext {
    margin: 0 auto;
}
