@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";


@contentColor: white;

/* Site wide styles */
#main {
    padding-top: 20px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}

.jumbotron {
    background: @contentColor;
    text-align: center;
}

footer {
    text-align: center;
}


/* Extractable CSS */
label.inline {
    margin-left: -20px;
}